---
const { link, title, body, description, image } = Astro.props;
import { Image } from 'astro:assets';
---


<li class="max-w-sm bg-white border-0 rounded-lg shadow dark:bg-gray-800 dark:border dark:border-cyan-900 max-sm:w-[90%] max-sm:mx-auto">
    <div class="flex flex-col justify-between h-full">
        <div class="flex flex-col">
            <a href={image} class="w-full" target="_blank" rel="noreferrer noopener">
                <Image 
                    src={image}
                    width={382}
                    height={214}
                    alt={`Image live of ${title} resource`}
                    class='rounded-t-lg aspect-video object-cover object-top w-full hover:scale-[1.02] hover:cursor-zoom-in transition-all'
                />
            </a>
            <div class="p-5 overflow-clip">
            
                <h5 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
            
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-300">{description}</p>
            </div>
        </div>
    
        <a href={link} target="_blank" rel="noreferrer noopener" class="inline-flex items-center p-0 text-sm font-medium text-center text-blue-500  rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800   hover:scale-[1.2] w-fit mb-5 ml-5 transition-all max-sm:mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-share" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                <path d="M12.597 17.981a9.467 9.467 0 0 1 -.597 .019c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6c-.205 .342 -.415 .67 -.63 .983"></path>
                <path d="M16 22l5 -5"></path>
                <path d="M21 21.5v-4.5h-4.5"></path>
                </svg>
        </a>
    </div>
</li>
